@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --clr-one: darkslategray;
  --clr-two: yellow;
  --clr-three: #ffffff;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Navbar */
.header {
  background-color: var(--clr-one);
  padding: 20px;
  display: flex;
}

.nav-logo {
  width: 200px;
  height: 50px;
}

.nav__links {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.nav__link {
  position: relative;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 1.4vw;
  letter-spacing: 2px;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

.nav__link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.toggleBox i {
  font-size: 30px;
  cursor: pointer;
}

/* Navbar */

section {
  border-bottom: 3px solid grey;
}
